<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zandylyq</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">

    <!--uiSelect-->
    <link rel="stylesheet" href="css/ui-select/select2.css">
    <link rel="stylesheet" href="css/ui-select/selectize.default.css">
    <link rel="stylesheet" href="css/ui-select/select.min.css">
    <!--uiSelect-->

    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/ui-bootstrap.js"></script>
    <script src="controllers/index.js"></script>
    <script src="Scripts/jquery-2.2.1.js"></script>

    <script src="Scripts/angular-sanitize.js"></script>
    <script src="Scripts/angular-route.js"></script>

    <!--uiSelect-->
    <script src="Scripts/ui-select/select.min.js"></script>
    <!--uiSelect-->


    <style>
        .select2 > .select2-choice.ui-select-match {
            /* Because of the inclusion of Bootstrap */
            height: 29px;
        }

        .selectize-control > .selectize-dropdown {
            top: 36px;
        }
    </style>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(53897173, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/53897173" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->



</head>
<body ng-controller="mainCtrl">
<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <img src="img/balance.png" alt="logo" class="logo">
        <a class="navbar-brand" href="#">ZANDYLYQ</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Проверка приговора</a></li>
            <li><a href="test.html">График</a></li>
        </ul>
        <div class="col-sm-3 col-md-3 hidden">
            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Поиск" name="q">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Настройки</a></li>
            <!-- <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Пользователь <b class="caret"></b></a>
                 <ul class="dropdown-menu">
                     <li><a href="#">Action</a></li>
                     <li><a href="#">Another action</a></li>
                     <li><a href="#">Something else here</a></li>
                     <li class="divider"></li>
                     <li><a href="#">Separated link</a></li>
                 </ul>
             </li>-->
        </ul>
    </div>
</nav>

<div class="container-fluid main">
    <div class="row">
        <h2 class="text-center title">ПРОВЕРКА ПРИГОВОРА</h2>
        <div class="form">
            <form>
                <h3 class="text-center form-title">Расчет наказания</h3>
                <div class="col-sm-12" style="margin: 15px 0">
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="control-label">Возраст <span class="required">*</span></label>
                            <p class="subtitle">Укажите полный возраст на момент совершения преступления</p>
                            <input type="text" pattern="\d*" maxlength="2" class="form-control" ng-model="item.age"
                                   required>
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label">Пол <span class="required">*</span></label><br>
                            <input ng-model="item.gender" type="radio" value='1' required> Мужской<br>
                            <input ng-model="item.gender" type="radio" value='2'> Женский<br>
                        </div>
                        <div class="col-sm-6">
                            <label class="control-label">Наличие смягчающих/отягчающих вину обстоятельств</label><br>


                            <input type="checkbox" id="2" ng-model="item.soft">
                            <label style="font-weight: 500" for="2">Смягчающие</label>
                            <input type="checkbox" id="1" ng-model="item.heavy">
                            <label style="font-weight: 500" for="1">Отягчающие</label>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Дата совершения правонарушения <span
                                    class="required">*</span></label>
                            <input class="form-control" data-format="dd.MM.yyyy" ng-model="item.dateFrom" type="date"
                                   style="width: max-content" required>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="control-label"> Статья Уголовного кодекса
                                <span class="required">*</span>
                            </label>
                            <!--<select required ng-options="crime.id as crime.stat + ' - ' + crime.name_ru for crime in crimeList.articles"
                                    class="form-control" ng-model="item.crime"
                                    style="height: 34px; width: 100%">
                                <option selected disabled value="" ng-show="false"></option>
                            </select>-->

                            <ui-select tagging tagging-label="('new')" ng-model="singleDemo.crime" theme="bootstrap" title="Choose a color">
                                <ui-select-match  placeholder="Выберите статью..."><span>{{$select.selected.stat}} - {{$select.selected.name_ru}}</span></ui-select-match>
                                <ui-select-choices repeat="crime in crimeList.articles | filter: $select.search">
                                    <div ng-bind-html="(crime.stat | highlight: $select.search ) + '  ' +( crime.name_ru)"></div>
                                </ui-select-choices>
                            </ui-select>
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="control-label">Стадия преступления<span class="required">*</span></label><br>
                            <select required ng-options="stage.id as stage.name_ru for stage in judgment.article24"
                                    class="form-control" ng-model="item.stage"
                                    style="height: 34px; width: 100%">
                                <option selected disabled value="" ng-show="false"></option>
                            </select>
                        </div>
                    </div>

                    <br>
                    <div class="row text-center">
                        <button ng-disabled="!item.stage" ng-show="showSendBtn" ng-click="sendRequest(item, singleDemo)" class="btn btn-primary">Отправить
                            запрос
                        </button>
                        <button ng-disabled="!item" class="btn btn-danger" ng-click="clearForm(item, singleDemo)">Очистить форму</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/ng-template" id="myModalContent.html">

    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">Результат анализа</h4>
        </div>

        <div class="modal-body">

            <!-- Preloader -->
            <div ng-show="loader" id="Load" class="load">
                <div class="load__container">
                    <div class="load__animation"></div>
                    <div class="load__mask"></div>
                    <span class="load__title">Carregando...</span>
                </div>
            </div>

            <div ng-if="typeMessage.error_message" class="alert alert-danger" role="alert">
                {{typeMessage.error_message}}
            </div>

            <div ng-if="typeMessage.result">
                <!--<span ng-bind-html="typeMessage.result">{{typeMessage.result}}</span>-->
               <span ng-bind-html="typeMessage.result | trusted"></span>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" ng-click="cancel()">Закрыть</button>
        </div>

    </div>

</script>


<script src="js/bootstrap.min.js"></script>
</body>
</html>
